// ------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
// -------------------------------------------------

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: #131518;
  color: #ffffff;
  font-family: "Overpass", sans-serif;
}

.thanks {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .container {
    width: 327px;
    height: 360px;
    background-image: radial-gradient(
      farthest-corner at 50% 0%,
      #232a34 0%,
      #181e27 100%
    );
    border-radius: 15px;
    align-self: center;
    padding: 24px;
    position: relative;

    .star {
      width: 40px;
      height: 40px;
      background-color: #262e38;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .star::before {
      content: "";
      display: inline-block;
      width: 13px;
      height: 13px;
      background-image: url("../images/icon-star.svg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
    }

    h1 {
      font-weight: 700;
      font-size: 22px;
      padding: 22px 0 14px 0;
      letter-spacing: 1px;
    }

    p {
      color: #969fad;
      font-size: 14px;
      line-height: 22px;
    }

    fieldset {
      border: none;
      display: flex;
      margin: 20px 0 22px 0;
      justify-content: space-between;
      align-items: center;

      .select {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input[type="radio"] {
        appearance: none;
        background-color: #262e38;
        margin: 0;
        font-family: inherit;
        color: #7c8798;
        width: 3.1em;
        height: 3.1em;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
      }

      input[type="radio"]:hover {
        background-color: #fc7614;
        cursor: pointer;
      }

      input[type="radio"]:checked {
        background-color: #fc7614;
        cursor: pointer;
      }

      input[type="radio"]:active {
        background-color: #7c8798;
        cursor: pointer;
      }

      label {
        position: absolute;
        margin: 0;
        padding: 16px;
        font-family: inherit;
        font-size: 0.9rem;
        color: #7c8798;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: #ffffff;
          cursor: pointer;
        }

        // ------- přidat javascriptem?
        .checked {
          color: #ffffff;
          cursor: pointer;
        }
      }
    }

    button {
      display: inline-block;
      width: 100%;
      background-color: #fc7614;
      padding: 13px;
      font-family: "Overpass", sans-serif;
      color: white;
      font-size: 14px;
      vertical-align: text-bottom;
      text-transform: uppercase;
      letter-spacing: 2px;
      border: none;
      border-radius: 25px;
      cursor: pointer;
    }

    button:hover {
      background-color: #ffffff;
      color: #fc7614;
    }
  }
}
